1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

5. Read books.csv and insert its data into the book table.

6. Select and print the title column from the book table in alphabetical order.

7. From the book table, select and print all columns in the order of publication.

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

10. Increment the count field of test and print it.

1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

Ans.

In [1]:
test1 = 'This is a test of the emergency text system'
outfile = open('test.txt', 'wt')
outfile.write(test1)
outfile.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

Ans.

In [2]:
with open('test.txt', 'rt') as infile:
    test2 = infile.read()

In [3]:
test1 == test2

True

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

Ans.

In [4]:
text = '''title,author,year The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992'''

In [5]:
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

Ans.

In [13]:
import sqlite3

In [15]:
try:
    db = sqlite3.connect('books.db')
    curs = db.cursor()
    curs.execute('''create table book (title text, author text, year int)''')

except Exception as e:
    print("Your error is ====> ",e)

Your error is ====>  table book already exists

In [16]:
db.commit()

5. Read books.csv and insert its data into the book table.

Ans.

In [17]:
import csv
import sqlite3
ins_str = 'insert into book values(?, ?, ?)'
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

In [18]:
db.commit()

6. Select and print the title column from the book table in alphabetical order.

Ans.

In [19]:
sql = 'select title from book order by title asc'
for row in db.execute(sql):
    print(row)